
<div class="uk-grid-match uk-child-width-auto@s uk-text-center" style="padding:0px 100px  ;height: 450;"  uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <img src="/assets/images/h1.jpg" alt="" class="img-responsive zoom-img">
    
                <h3><a routerLink="/bags">Bags</a></h3>
                <p>Explore Now</p>
            </div>
        </div>
        <div style="width: 260px">
            <div class="uk-card  uk-card-default uk-card-body">
                <img src="/assets/images/h2.jpg" alt="" class="img-responsive zoom-img">
    
                <h3><a routerLink="/bags">Wristbands</a></h3>
                <p>Explore Now</p>
            </div>
        </div>
        <div style="width: 260px">
            <div class="uk-card uk-card-default uk-card-body">
                <img src="/assets/images/h3.jpg" alt="" class="img-responsive zoom-img">
    
                <h3><a routerLink="/bags">Necklaces</a></h3>
                <p>Explore Now</p>
            </div>
        </div>
        <div style="width: 260px">
            <div class="uk-card uk-card-default uk-card-body">
                <img src="/assets/images/h4.jpg" alt="" class="img-responsive zoom-img">
    
                <h3><a routerLink="/bags">Shoes</a></h3>
                <p>Explore Now</p>
    
            </div>
        </div>
    </div>