<!-- Nav Start -->
<nav class="uk-navbar-container  " style="height: 100px" uk-navbar>
    <div class="uk-navbar-left uk-margin-xlarge-left">
        <ul class="uk-navbar-nav " > 
            <li>
                <h1>Ostore</h1>
            </li>
            <li class=" uk-margin-medium-left"> <a routerLink="/home"  style="font-size:15px"><span uk-icon="home"></span >Home</a></li>
            <li> <a style="font-size:15px">Men</a>
                <div class="uk-width-xlarge" uk-drop>
                    <div class="uk-card uk-card-body uk-card-default">
                        <div class="uk-drop-grid uk-child-width-expand" uk-grid>
                            <div class=" uk-width-expand ">
                                <ul class="uk-nav uk-dropdown-nav">

                                    <li><a href="product-m.html">Accessories</a></li>
                                    <li><a href="product-m.html">Bags</a></li>
                                    <li><a href="product-m.html">Cap & Hats</a></li>
                                    <li><a href="product-m.html">Tops</a></li>
                                    <li><a href="product-m.html">Jackets & Coats</a></li>
                                    <li><a href="product-m.html">wallets</a></li>
                                    <li><a href="product-m.html">Jeans</a></li>
                                </ul>
                            </div>
                            <div class=" uk-width-expand ">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a href="product-m.html">Shirts</a></li>
                                    <li><a href="product-m.html">Shoes,Boots</a></li>
                                    <li><a href="product-m.html">Shorts</a></li>
                                    <li><a href="product-m.html">Watches</a></li>
                                    <li><a href="product-m.html">Sunglasses</a></li>
                                    <li><a href="product-m.html">Bands</a></li>
                                    <li><a href="product-m.html">Swimwear</a></li>
                                </ul>
                            </div>
                            <div class=" uk-width-expand ">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a href="product-m.html">Jewellery</a></li>
                                    <li><a href="product-m.html">Jack & Jones</a></li>
                                    <li><a href="product-m.html">Ray-Ban</a></li>
                                    <li><a href="product-m.html">Lipsticks</a></li>
                                    <li><a href="product-m.html">Longer wear</a></li>
                                    <li><a href="product-m.html">sarees</a></li>
                                    <li><a href="product-m.html">Nike</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li> <a style="font-size:15px">Women</a>
                <div class="uk-width-xlarge" uk-drop>
                    <div class="uk-card uk-card-body uk-card-default">
                        <div class="uk-drop-grid uk-child-width-expand" uk-grid>
                            <div class=" uk-width-expand ">
                                <ul class="uk-nav uk-dropdown-nav">

                                    <li><a href="product-m.html">Accessories</a></li>
                                    <li><a href="product-m.html">Bags</a></li>
                                    <li><a href="product-m.html">Cap & Hats</a></li>
                                    <li><a href="product-m.html">Tops</a></li>
                                    <li><a href="product-m.html">Jackets & Coats</a></li>
                                    <li><a href="product-m.html">wallets</a></li>
                                    <li><a href="product-m.html">Jeans</a></li>
                                </ul>
                            </div>
                            <div class=" uk-width-expand ">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a href="product-m.html">Shirts</a></li>
                                    <li><a href="product-m.html">Shoes,Boots</a></li>
                                    <li><a href="product-m.html">Shorts</a></li>
                                    <li><a href="product-m.html">Watches</a></li>
                                    <li><a href="product-m.html">Sunglasses</a></li>
                                    <li><a href="product-m.html">Bands</a></li>
                                    <li><a href="product-m.html">Swimwear</a></li>
                                </ul>
                            </div>
                            <div class=" uk-width-expand ">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a href="product-m.html">Jewellery</a></li>
                                    <li><a href="product-m.html">Jack & Jones</a></li>
                                    <li><a href="product-m.html">Ray-Ban</a></li>
                                    <li><a href="product-m.html">Lipsticks</a></li>
                                    <li><a href="product-m.html">Longer wear</a></li>
                                    <li><a href="product-m.html">sarees</a></li>
                                    <li><a href="product-m.html">Nike</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li> <a style="font-size:15px">Kids</a>
                <div class="uk-width-xlarge" uk-drop>
                    <div class="uk-card uk-card-body uk-card-default">
                        <div class="uk-drop-grid uk-child-width-expand" uk-grid>
                            <div class=" uk-width-expand ">
                                <ul class="uk-nav uk-dropdown-nav">

                                    <li><a href="product-m.html">Accessories</a></li>
                                    <li><a href="product-m.html">Bags</a></li>
                                    <li><a href="product-m.html">Cap & Hats</a></li>
                                    <li><a href="product-m.html">Tops</a></li>
                                    <li><a href="product-m.html">Jackets & Coats</a></li>
                                    <li><a href="product-m.html">wallets</a></li>
                                    <li><a href="product-m.html">Jeans</a></li>
                                </ul>
                            </div>
                            <div class=" uk-width-expand ">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a href="product-m.html">Shirts</a></li>
                                    <li><a href="product-m.html">Shoes,Boots</a></li>
                                    <li><a href="product-m.html">Shorts</a></li>
                                    <li><a href="product-m.html">Watches</a></li>
                                    <li><a href="product-m.html">Sunglasses</a></li>
                                    <li><a href="product-m.html">Bands</a></li>
                                    <li><a href="product-m.html">Swimwear</a></li>
                                </ul>
                            </div>
                            <div class=" uk-width-expand ">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a href="product-m.html">Jewellery</a></li>
                                    <li><a href="product-m.html">Jack & Jones</a></li>
                                    <li><a href="product-m.html">Ray-Ban</a></li>
                                    <li><a href="product-m.html">Lipsticks</a></li>
                                    <li><a href="product-m.html">Longer wear</a></li>
                                    <li><a href="product-m.html">sarees</a></li>
                                    <li><a href="product-m.html">Nike</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </li>


            <li><a href="contact.html" style="font-size:15px"><span uk-icon="receiver"></span >Contact</a></li>
        </ul>
    </div>
    <div class="uk-navbar-right  uk-margin-xlarge-right">
        <ul class="uk-navbar-nav">
              
            <li class=" uk-margin-medium-right">


                <div>
                    <form class="uk-search uk-search-default">
                        <span class="uk-search-icon-flip" uk-search-icon></span>
                        <input class="uk-search-input" type="search" placeholder="Search...">
                    </form>
                </div>
            </li>




            <li>
                <a   routerLink="/login" style="font-size:15px"><span uk-icon="sign-in"></span >Login </a>
                
            </li>
            
            <li>
                <a routerLink="/register" href="#" style="font-size:15px"><span uk-icon="user"></span >Register</a></li>
        </ul>
    </div>
</nav>
<!-- Nav End -->