

<div style=" background: rgb(192, 133, 146)" class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s "
  uk-grid>
  <div  class="uk-card-media-left uk-cover-container">
    <img  src="../../../assets/images/ba.png" alt="" uk-cover> 
    
  </div>
  <div>
    <div class="uk-card-body">
      <span class="bann-heart"> </span>
      <h2>Handbags</h2>
      <h1>Sed perspiciatis unde</h1>
      <h5 class="item_price">$200.00</h5>
      <a  style=" background: rgb(192, 133, 146)" href="single.html"><img data-src="/assets/images/b1.jpg" alt="" uk-img></a>
      <a  style=" background: rgb(192, 133, 146)" href="single.html"><img data-src="/assets/images/b2.jpg" alt="" uk-img></a>
      <h6>Size Charts</h6>
      <div class=" uk-child-width-auto@s" style="padding-top: 10px" uk-grid>

          <div class="uk-inline">
              <button class="uk-button uk-button-default" type="button">Size</button>
              <div uk-dropdown>
                  <ul class="uk-nav uk-dropdown-nav">

                      <li><a href="#">Small</a></li>
                      <li><a href="#">Medium</a></li>

                      <li><a href="#">Large</a></li>
                  </ul>
              </div>
          </div>

          <button class="uk-button uk-button-primary"  >Add To Cart</button>


      </div>
    </div>

  </div>
</div>

