
<div class="uk-grid-match uk-child-width-auto@s uk-text-center" style="padding:0px 100px  ;height: 450;"  uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <img src="/assets/images/h1.jpg" alt="" class="img-responsive zoom-img">

            <h3><a routerLink="/details">Bags</a></h3>
            <p>650$</p>
        </div>
    </div>
    <div style="width: 260px">
        <div class="uk-card  uk-card-default uk-card-body">
            <img src="/assets/images/h2.jpg" alt="" class="img-responsive zoom-img">

            <h3><a routerLink="/details">Wristbands</a></h3>
            <p>130$</p>
        </div>
    </div>
    <div style="width: 260px">
        <div class="uk-card uk-card-default uk-card-body">
            <img src="/assets/images/h3.jpg" alt="" class="img-responsive zoom-img">

            <h3><a routerLink="/details">Necklaces</a></h3>
            <p> 400$</p>
        </div>
    </div>
    <div style="width: 260px">
        <div class="uk-card uk-card-default uk-card-body">
            <img src="/assets/images/h4.jpg" alt="" class="img-responsive zoom-img">

            <h3><a routerLink="/details">Shoes</a></h3>
            <p>200$</p>

        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <img src="/assets/images/h9.jpg" alt="" class="img-responsive zoom-img">

            <h3><a routerLink="/details">Bags</a></h3>
            <p>650$</p>
        </div>
    </div>
    <div style="width: 260px">
        <div class="uk-card  uk-card-default uk-card-body">
            <img src="/assets/images/h31.jpg" alt="" class="img-responsive zoom-img">

            <h3><a routerLink="/details">Wristbands</a></h3>
            <p>130$</p>
        </div>
    </div>
    <div style="width: 260px">
        <div class="uk-card uk-card-default uk-card-body">
            <img src="/assets/images/h8.jpg" alt="" class="img-responsive zoom-img">

            <h3><a routerLink="/details">Necklaces</a></h3>
            <p> 400$</p>
        </div>
    </div>
    <div style="width: 260px">
        <div class="uk-card uk-card-default uk-card-body">
            <img src="/assets/images/h21.jpg" alt="" class="img-responsive zoom-img">

            <h3><a routerLink="/details">Shoes</a></h3>
            <p>200$</p>

        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <img src="/assets/images/c3.jpg" alt="" class="img-responsive zoom-img">

            <h3><a routerLink="/details">Bags</a></h3>
            <p>650$</p>
        </div>
    </div>
    <div style="width: 260px">
        <div class="uk-card  uk-card-default uk-card-body">
            <img src="/assets/images/si2.jpg" alt="" class="img-responsive zoom-img">

            <h3><a routerLink="/details">Wristbands</a></h3>
            <p>130$</p>
        </div>
    </div>
    <div style="width: 260px">
        <div class="uk-card uk-card-default uk-card-body">
            <img src="/assets/images/h3.jpg" alt="" class="img-responsive zoom-img">

            <h3><a routerLink="/details">Necklaces</a></h3>
            <p> 400$</p>
        </div>
    </div>
    <div style="width: 260px">
        <div class="uk-card uk-card-default uk-card-body">
            <img src="/assets/images/h17.jpg" alt="" class="img-responsive zoom-img">

            <h3><a routerLink="/details">Shoes</a></h3>
            <p>200$</p>

        </div>
    </div>

    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <img src="/assets/images/h22.jpg" alt="" class="img-responsive zoom-img">

            <h3><a routerLink="/details">Bags</a></h3>
            <p>650$</p>
        </div>
    </div>
    <div style="width: 260px">
        <div class="uk-card  uk-card-default uk-card-body">
            <img src="/assets/images/h2.jpg" alt="" class="img-responsive zoom-img">

            <h3><a routerLink="/details">Wristbands</a></h3>
            <p>130$</p>
        </div>
    </div>
    <div style="width: 260px">
        <div class="uk-card uk-card-default uk-card-body">
            <img src="/assets/images/h3.jpg" alt="" class="img-responsive zoom-img">

            <h3><a routerLink="/details">Necklaces</a></h3>
            <p> 400$</p>
        </div>
    </div>
    <div style="width: 260px">
        <div class="uk-card uk-card-default uk-card-body">
            <img src="/assets/images/h14.jpg" alt="" class="img-responsive zoom-img">

            <h3><a routerLink="/details">Shoes</a></h3>
            <p>200$</p>

        </div>
    </div>
</div>