
<form class="uk-form-horizontal uk-margin-large" style="padding-left: 300px ">
    <h2>Login</h2>
    <br/>
    
    
    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Username</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-width-large" id="form-horizontal-text" type="text" placeholder="Enter Username...">
        </div>
    </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Password</label>
        <div class="uk-form-controls">
            <input class="uk-input uk-form-width-large" id="form-horizontal-text" type="text" placeholder="Enter Password...">
        </div>
    </div>
    <div class="uk-margin">
       
        <p style="padding-left: 140px " ><button  class="uk-button uk-button-primary">Login</button></p>
          <p style="padding-left: 140px " >New to Ostore? <button  class="uk-button uk-button-danger">Register</button>
        </p>
    
      </div>
</form>
