
<nav class="uk-navbar-container  " style="background: black;padding-top: 50px"   uk-navbar>
    <div class="uk-navbar-left uk-margin-xlarge-left">
        <ul class="uk-navbar-nav ">
            <div class="uk-grid-match uk-child-width-auto@s uk-text-center"  uk-grid>
                <div>
                    <div style="background: black"  class="uk-card uk-card-default uk-card-body">
                        <div >
                           <a style=" color: white" href="product.html">Accessories</a> <br/>
                           <a style=" color: white" href="product.html">Hand bags</a> <br/>
                           <a style=" color: white" href="product.html">Clothing</a> <br/>
                           <a style=" color: white" href="product.html">Brands</a> <br/>
                           <a  style=" color: white"href="product.html">Watches</a>
                           
                        </div>
                    </div>
                </div>
                <div>
                    <div style="background: black; color: white" class="uk-card uk-card-default uk-card-body">
                        <div >
                            <a style=" color: white" href="login.html">Your Account</a> <br/>
                            <a style=" color: white" href="contact.html">Contact Us</a> <br/>
                            <a style=" color: white" href="product.html">Store Locator</a> <br/>
                            <a  style=" color: white" href="pressroom.html">Press Room</a>
                          
                        </div>
                    </div>
                </div>
                <div>
                    <div style="background: black"  class="uk-card uk-card-default uk-card-body">
                        <div >
                           <a style=" color: white" href="terms.html">Website Terms</a>
                           <br/>
                           <div style=" color: white" class="uk-inline">
                                <a style=" color: white" >Select Country</a>
                                 <div uk-dropdown>
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <li><a href="#">Australia</a></li>
                                        <li><a href="#">Singapore</a></li>
                                        <li><a href="#">London</a></li>
                                    </ul>
                                </div>
                            </div>
                         
                                <br/>
                                <a style=" color: white" href="shortcodes.html">Short Codes</a>
                            
                        </div>
                    </div>
                </div>
                
                <div>
                    <div style="background: black"  class="uk-card uk-card-default uk-card-body">
                        <div >
                            
                            
                            <a  href="www.youtube.com" class="uk-icon-button uk-margin-small-right" uk-icon="youtube"></a>
                            <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="instagram"></a>
                            <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
                            <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="facebook"></a>
                            <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="pinterest"></a>
                            

                            <div class="uk-grid-auto  uk-child-width-auto@s" style="padding-top: 40px" uk-grid>
                                   <div  style="padding: 0px"> <a> <span class="uk-icon-button uk-margin-small-right" uk-icon="mail"> </span>
                                    
                                    </a></div>
                                    <div style="padding: 0px"> <a>
                                            <input class="email-ftr" type="text" value="Newsletter" onfocus="this.value = '';"
                                            onblur="if (this.value == '') {this.value = 'Newsletter';}">
                                    </a></div>
                                    <div style="padding: 0px"><a><input type="submit" value="Send"></a></div>
                                    </div>

                            
                        </div>
                    </div>
                </div>
                
                <div style=" padding-left: 23% ">
                    <div style="background: black;  "  class="uk-card uk-card-default uk-card-body">
                        <div class="copy-rights">
                            <p  style=" color: white" >© 2016 Shoplist. All Rights Reserved | Under Supervition <a style=" color: white" href="http://w3layouts.com/" target="_blank">Mostafa Rady</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </ul>
    </div>
</nav>